
@{
    ViewBag.Title = "GetCalendar";
}
<br/>
<br />
<br />
<center><h2>Upcoming Events:</h2>

<iframe src="https://calendar.google.com/calendar/embed?src=j9q74rq6aq09us6d8j3ah3cu24%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></center>