body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: black;
    text-align: center;
    height: 10%;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 58px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.wrap-row {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    background: #3E3E3E;
    color: #fff;
    font: 900 14px/26px 'Open Sans', sans-serif;
    text-transform: uppercase;
}

#footer h3 a,
#footer h3 p {
    margin: 0;
    color: #fff;
    text-decoration: none;
}

.left {
    float: left;
    text-align: left;
}

.right {
    float: right;
    text-align:right;
}

.centered {
    text-align:center; /* claim the left over width between these 25% floats */
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

body {
    padding: 0;
    margin: 0;
    padding-bottom: 200px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: orangered;
}