@{
    ViewBag.Title = "Home";
}
<h1><span style="color:#ff0000;width: 50%; margin-left:auto; margin-right:auto;;">We are Surgery on Sunday Louisville, Inc.</span></h1>

<hr />

<h3 style="text-align:justify;">Surgery On Sunday – Louisville, Inc. provides outpatient surgical and endoscopic procedures to patients who are within 250% of the current federal poverty line, have medical need, are symptomatic and/or in a high risk healthcare category (such as family history), and are uninsured or underinsured.  Our licensed physicians, medical and non-clinical support staff,  and healthcare partners provide all services on a volunteer basis.  <span style="color:#ff0000;">Our patients never see a bill</span>. We are a non-profit organization based in Louisville, KY. Our program was founded in 2013 by a group of passionate medical professionals and members of the Louisville community.</h3>

<p>Use this area to provide additional information.</p>
