
@{
    ViewBag.Title = "GetInterpreterForm";
}
<!-- Billboard Image -->
<div class="grid-100">
    <div class="billboard ">
        <img class="header_image" alt="Medical Interpreter Volunteer Form" src="https://assets-kindful-com.s3.amazonaws.com/uploads/registration_form/header_image/b8f87c28-a750-4a75-b8da-454359632aad/standard_Interpreters.png?AWSAccessKeyId=AKIAJDYHWVU4NFT74ADA&amp;Signature=2hSg7O%2Bu8GEOA/IoIfc53DSkMwk%3D&amp;Expires=1549150715" />
    </div><!-- .billboard -->
</div>

<center>
    <div class="grid-100 clearfix">
        <h1 id="registration_form_title">Medical Interpreter Volunteer Form</h1>
    </div>
    <section class="container"></section>
    <!-- Main form -->
    <div class="grid-50 tablet-grid-50 mobile-grid-100">
        <div class="infoCard formPanel campaignInfo">
            <form class="simple_form new_registration" id="new_registration" action="/public/registrations" accept-charset="UTF-8" method="post">
                <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="i2pEODZRAS7sJhhe3rWy1Qkm8AMB0FNCca5CyPfnZteKK6aemN3ShqwHygZeBzHdr7WRXsOqifmZGtOTnaYvRw==" />

                <h2 id="registration_form_heading"></h2>

                <div id="error_explanation">
                    <ul></ul>
                </div>

                <input type="hidden" value="b8f87c28-a750-4a75-b8da-454359632aad" name="registration[registration_form_id]" id="registration_registration_form_id" />


                <input type="hidden" value="2496" name="registration[person_attributes][organization_id]" id="registration_person_attributes_organization_id" />




                <div class="control_row">
                    <div class="control-group string required registration_person_first_name"><label class="string required control-label" for="registration_person_attributes_first_name"><abbr title="required">*</abbr> First Name</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_first_name" name="registration[person_attributes][first_name]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>






                <div class="control_row">
                    <div class="control-group string required registration_person_last_name"><label class="string required control-label" for="registration_person_attributes_last_name"><abbr title="required">*</abbr> Last Name</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_last_name" name="registration[person_attributes][last_name]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>






                <div class="control_row">
                    <div class="control-group email required registration_person_email"><label class="email required control-label" for="registration_person_attributes_email"><abbr title="required">*</abbr> Email</label><div class="controls"><input required="required" class="string email required " id="registration_person_attributes_email" name="registration[person_attributes][email]" maxlength="1000" aria-required="true" type="email" size="1000" value="" /></div></div>

                </div>






                <div class="control_row">
                    <div class="control-group string required registration_person_address"><label class="string required control-label" for="registration_person_attributes_address"><abbr title="required">*</abbr> Address</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_address" name="registration[person_attributes][address]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>






                <div class="control_row">
                    <div class="control-group string required registration_person_city"><label class="string required control-label" for="registration_person_attributes_city"><abbr title="required">*</abbr> City</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_city" name="registration[person_attributes][city]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>






                <div class="control_row">
                    <div class="control-group string required registration_person_state"><label class="string required control-label" for="registration_person_attributes_state"><abbr title="required">*</abbr> State</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_state" name="registration[person_attributes][state]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>






                <div class="control_row">
                    <div class="control-group string required registration_person_postal_code"><label class="string required control-label" for="registration_person_attributes_postal_code"><abbr title="required">*</abbr> Postal Code</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_postal_code" name="registration[person_attributes][postal_code]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>






                <div class="control_row">
                    <div class="control-group tel required registration_person_mobile_phone"><label class="tel required control-label" for="registration_person_attributes_mobile_phone"><abbr title="required">*</abbr> Mobile Phone</label><div class="controls"><input required="required" class="string tel required " id="registration_person_attributes_mobile_phone" name="registration[person_attributes][mobile_phone]" maxlength="1000" aria-required="true" type="tel" size="1000" /></div></div>

                </div>






                <div class="control_row">
                    <div class="control-group string required registration_person_birthday"><label class="string required control-label" for="registration_person_attributes_birthday"><abbr title="required">*</abbr> Birthday</label><div class="controls"><input required="required" class="string required datepicker" id="registration_person_attributes_birthday" name="registration[person_attributes][birthday]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>







                <div class="control_row">
                    <label>* What/which languages can you interpret for? </label>
                    <br />

                    <input name="registration[person_attributes][custom_field_answers][12901][]" type="hidden" value="" /><select class="multi-select required" multiple="multiple" id="registration_person_attributes_custom_field_answers_12901" name="registration[person_attributes][custom_field_answers][12901][]">
                        <option value="Spanish">Spanish</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Arabic">Arabic</option>
                        <option value="Other">Other</option>
                    </select>

                </div>






                <div class="control_row">
                    <div class="control-group string optional registration_person_preferred_name"><label class="string optional control-label" for="registration_person_attributes_preferred_name">Preferred Name</label><div class="controls"><input class="string optional " id="registration_person_attributes_preferred_name" name="registration[person_attributes][preferred_name]" maxlength="1000" size="1000" type="text" /></div></div>

                </div>
                <br /><br />
                <input type="submit" name="commit" value="Submit" class="btn btn btn-success btn-lg" data-disable-with="Saving..." />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </form>
        </div>
    </div>
</center>

