
@{
    ViewBag.Title = "GetNonClinicForm";
}
<img src="~/Content/images/standard_Volunteer.jpg" alt="Sample Photo" />
<section class="container"></section>
<h2>GetNonClinicForm</h2>
<section class="container"></section>


