
@{
    ViewBag.Title = "GetVolunteerCommentForm";
}
<div style="margin: 0; display: inline-block;"><img src="~/Content/images/standard_Volunteer.jpg" alt="Sample Photo" /></div>
<section class="container"></section>
<h2>GetVolunteerCommentForm</h2>
<section class="container"></section>

