
@{
    ViewBag.Title = "GetManageVolunteers";
}
<br />
<br />
<br />
<br />
<center>
    <form>
        <h2>Manage Volunteers</h2><br />
        <h3>Please Select A Volunteer Type To Edit:</h3>
        <br /><br />
        <a href="/PhysicianVolunteerView/Index">
            <button type="button" class="btn btn-primary">Modify Physician Volunteers</button>
        </a>
        <br /><br />
        <a href="/ClinicalVolunteer/Index">
            <button type="button" class="btn btn-primary">Modify Clinical Volunteers</button>
        </a>
        <br /><br />
        <a href="/GeneralVolunteerView/Index">
            <button type="button" class="btn btn-primary">Modify General Volunteers</button>
        </a>
        <br /><br />
        <a href="/InterpreterVolunteer/Index">
            <button type="button" class="btn btn-primary">Manage Medical Interpreter Volunteers</button>
        </a>
        <br /><br />
        <a href="/StaffAccess/StaffAccessScreen">
            <button type="button" class="btn btn-primary">Back</button>
        </a>
    </form>
</center>