
@{
    ViewBag.Title = "GetManageVolunteers";
}
<br />
<br />
<br />
<br />
<center>
    <form>
        <h2>Manage Volunteers</h2><br />
        <h3>Please Select A Volunteer Type To Edit:</h3>
        <br /><br />
        <a href="/StaffAccess/GetModifyPhysicianVolunteers">
            <button type="button" class="btn btn-primary">Modify Physician Volunteers</button>
        </a>
        <br /><br />
        <a href="/StaffAccess/GetModifyNonPhysicianVolunteers">
            <button type="button" class="btn btn-primary">Modify Non-Physician Volunteers</button>
        </a>
        <br /><br />
        <a href="/StaffAccess/GetModifyNonClinicalVolunteers">
            <button type="button" class="btn btn-primary">Modify Non-Clinical Volunteers</button>
        </a>
        <br /><br />
        <a href="/StaffAccess/GetModifyMedicalInterpreterVolunteers">
            <button type="button" class="btn btn-primary">Manage Medical Interpreter Volunteers</button>
        </a>
        <br /><br />
        <a href="/StaffAccess/StaffAccessScreen">
            <button type="button" class="btn btn-primary">Back</button>
        </a>
    </form>
</center>