
@{
    ViewBag.Title = "GetScheduleVolunteers";
}
<br />
<br />
<br />
<br />
<center>
    <h2>Send A Newsletter:</h2>
</center>
<form action="/action_page.php">
    <input type="checkbox" name="volunteer" value="Physcian"> Send to Physcians<br><br />
    <input type="checkbox" name="volunteer" value="Clinical"> Send to Clinical Staff<br><br />
    <input type="checkbox" name="volunteer" value="Generael"> Send to Generael Staff<br><br />
    <input type="checkbox" name="volunteer" value="Interpreter"> Send to Medical Interpreters<br><br />
    <input type="checkbox" name="volunteer" value="AllVolunteers" checked> Send to All Volunteers<br><br />
    <textarea cols="1000"></textarea><br><br />
    <input type="file" name="pic" accept="image/*"><br><br />
    <center><input type="submit" value="Submit"></center>
</form>
