
@{
    ViewBag.Title = "StaffAccessScreen";
}
        <br />
        <br />
        <br />
        <br />
        <center>
            <form>
                <h2>SOS Louisville Admin Page</h2><br /><br /><br />
                <a href="/Event/Create">
                    <button type="button" class="btn btn-primary">Create events</button>
                </a>
                <br /><br />
                <a href="/Event/Index">
                    <button type="button" class="btn btn-primary">Manage events</button>
                </a>
                <br /><br />
                <a href="/StaffAccess/GetManageVolunteers">
                    <button type="button" class="btn btn-primary">Manage Volunteers</button>
                </a>
                <br /><br />
                <a href="/StaffAccess/GetScheduleVolunteers">
                    <button type="button" class="btn btn-primary">News Letter</button>
                </a>

                <br /><br />
                <a href="/Home/Index">
                    <button type="button" class="btn btn-primary">Log Out</button>
                </a>
            </form>
        </center>
