
@{
    ViewBag.Title = "GetPartnerClinic";
}

<style>
    img {
        width: 100%;
        height: auto;
        }
    /*h1{
        padding-bottom:50px;
        padding-right:600px;
       }
    h2 {
        left:10px;
    }*/
    
</style>


<h1><span style="margin-right:auto; margin-right:auto"><u>Our Partner Clinics</u></span></h1>
<div style="margin-top:150px"></div>

<hr />
<div class="container-fluid">
    <div class="row">

    </div>
</div>

<h2><span style="margin-right:auto; margin-right:auto">Louisville, KY</span></h2>
<div style="margin-top:100px"></div>
<div class="container-fluid">
    <div class="row">

    </div>
</div><p>Family Community Clinic</p>
<div class="container" style="line-break:initial">
    <div class=" row">
        <div class="row h-50"></div>
        <div class="col-3" style="background-color:white">
            <div class="image" maxwidth="100%" maxheight="100%">
                <img src="~/Content/images/cropped-cropped-fcc-updated.png" />
            </div>
        </div>
        <div class="col-sm-6" style="background-color:lightblue">
            Phone Number: <b>502-384-8444</b><br />
            Address: <b>
                1406 E Washington Street<br />
                Louisville, KY 40206
            </b><br />
            Email: <b> contact@famcomclinic.org </b> <br />
            Website: <b><u><a href="http://famcomclinic.org/">Click Here</a></u></b>
        </div>
    </div>
</div>
<div style="margin-top:100px"></div>
<p>Family Health Centers</p>
<div style="margin-top:75px"></div>
<hr style="color:red" />
<div class="container" style="line-break:initial">
    <div class=" row">
        <div class="row h-50"></div>
        <div class="col-3" style="background-color:white">
            <div class="image" maxwidth="100%" maxheight="100%">
                <img src="~/Content/images/logo.png" />
            </div>
        </div>
        <div class="col-sm-6" style="background-color:lightblue">
            Check Website for phone numbers and locations<br />
            Website: <b><u><a href="http://www.fhclouisville.org/">Click Here</a></u></b>
        </div>
    </div>
</div>

