
@{
    ViewBag.Title = "GetPartnerClinic";
}

<style>
    img {
        width: 100%;
        height: auto;
    }
</style>

<header>Our Partner Clinics</header>



<div class="container">
    <div class=" row">
        <div class="row h-50"></div>
        <div class="col-3" style="background-color:white">
            <div class="image" maxwidth="100%" maxheight="100%">
                <img src="~/Content/images/cropped-cropped-fcc-updated.png" />
            </div>
        </div>
        <div class="col-sm-6" style="background-color:brown">
            Phone Number: <b>502-384-8444</b><br />
            Address: <b>
                1406 E Washington Street<br />
                Louisville, KY 40206
            </b><br />
            Email: <b> contact@famcomclinic.org </b> <br />
            Website: <b><u><a href="http://famcomclinic.org/">Click Here</a></u></b>
        </div>
    </div>
</div>
