
@{
    ViewBag.Title = "GetPartnerClinic";
}

<style>
    h2 {
        color: red;
    }

    hr {
        color: red;
    }
</style>

<br />
<br />
<br />
<h1><span style="margin-right:auto; margin-right:auto"><u>Our Partner Clinics</u></span></h1>


<hr />
<p>
    Surgery on Sunday Louisville, Inc. (SOSL) partners with several clinics in the Greater Louisville area to ensure that our patients have access to quality care. All SOSL patients are required to have medical homes that is, they must have a medical center they can regularly go to in order to receive primary care. If you are a patient who is in need of SOSL services and do not have a medical home, please contact one of the below clinics and they will be happy to assist you. Each clinic is different, but you may qualify for free or sliding-scale-fee care depending on your financial situation.


</p>
<hr />

<h2><span style="margin-right:auto; margin-right:auto">Louisville, KY</span></h2>
<hr />

<p><a href="http://famcomclinic.org/"><u><font color="black" size="4">Family Community Clinic</font></u></a></p>
<p><a href="http://www.fhclouisville.org/"><u><font color="black" size="4">Family Health Centers Louisville</font></u></a></p>
<p><a href="http://www.pdchc.org/"><u><font color="black" size="4">Park DuValle Community Health Center</font></u></a></p>
<p><a href="http://shawneechristianhealth.org/"><u><font color="black" size="4">Shawnee Christian Healthcare Center</font></u></a></p>

<h2>LaGrange, KY</h2>
<hr />
<p><a href="http://hopehealthclinicky.com/"><u><font color="black" size="4">Hope Health Clinic</font></u></a></p>

<h2>Shelbyville, KY</h2>
<hr />

<p><a href="http://www.freeclinics.com/det/ky-mercy_medical_clinic_shelbyville"><u><font color="black" size="4">Mercy Medical Clinic</font></u></a></p>

<h2>Southern Indiana</h2>
<hr />
<p><a href="http://fhcenters.org/"><u><font color="black" size="4">Family Health Centers of Southern Indiana</font></u></a></p>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

