
@{
    ViewBag.Title = "About Us";
}

<br />
<br />
<br />
<h2 style="text-align: center;"><u>About Us</u></h2>
<h1></h1>
<h1 style="text-align: center;"> <iframe src="https://www.youtube.com/embed/oePBye4vrnA?rel=0&amp;controls=0&amp;showinfo=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span></iframe></h1>
<h3 style="text-align: left;">
    Surgery On Sunday &#8211; Louisville, Inc. provides outpatient surgical and endoscopic procedures
    to patients who are within 250% of the current federal poverty line, have medical need, are symptomatic and/or in a high risk
    healthcare category (such as family history), and are uninsured or underinsured.  Our licensed physicians, medical and non-clinical
    support staff,  and healthcare partners provide all services on a volunteer basis.  <strong>
        <span style="color: #e31e1e;">
            Our
            patients never see a bill.
        </span>
    </strong> We are a non-profit organization based in Louisville, KY. Our program was founded in
    2013 by a group of passionate medical professionals and members of the Louisville community.
</h3>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />