
@{
    ViewBag.Title = "testimonials";
}

<br />
<br />
<br />
<h2 style="text-align: center;"><u>Testimonials</u></h2>
<div class="entry-content">
    <p>Tatyana was able to receive  treatment to remove some of the burn marks on her face free of charge, thanks to a program called <strong><a href="https://href.li/?http://www.soslouisville.org/about-us/" rel="noreferrer">Surgery on Sunday</a></strong>.</p>

    <img src="~/Content/images/tatyiana.jpg" class="text-center" />
    <p>&#8220;She threw her hands up and she said, &#8216;Yay!&#8221; her grandmother Marie Hughes said.</p>
    <p>Marie Hughes says Tatyana was looking forward to the surgery, even though it was a little scary for her.</p>
    <p>The wounds from the surgery however, probably didn&#8217;t hurt as much as the words she heard from her schoolmates, some of whom made fun of her scars.</p>
    <p>&#8220;They&#8217;re like &#8216;What&#8217;s on your face? Can I touch it?'&#8221; Tatyana explained in an interview last month with Dawne Gee. Tatyana was in great spirits when she came into the WAVE 3 News studio to chat with Dawne.</p>
    <p>However, that&#8217;s also when she described to Dawne that some of her schoolmates would stare, ask to touch her face or just make fun of her for looking different.</p>
    <p>&#8220;She would come home and my daughter would literally have to pull it out of her, &#8216;What&#8217;s wrong with you? What happened?&#8217; and she would fight back the tears and try not to tell her mom,&#8221; Marie Hughes explained.</p>
    <p>Tatyana was a fighter and worked to hide her sadness.</p>
    <p>As for Sunday&#8217;s surgery, it really was nothing compared to the hurt she felt when she lost her two sisters and brother in a fire when she was just 5-years-old.</p>
    <p>&#8220;She asks for her siblings. She asks when they can come out of heaven,&#8221; Marie Hughes said. &#8220;She has her days.&#8221;</p>
    <p>On the days Tatyana is feeling better, Marie Hughes says the little one is the strongest of them all.</p>
    <p>&#8220;She&#8217;s so resilient, I call her my strength,&#8221; the grandmother said.</p>
    <p>Now that a tragic reminder of the past is expected to heal without a trace, Hughes says she&#8217;s excited for what Tatyana&#8217;s future holds.</p>
    <p>&#8220;To look in the mirror and see that that&#8217;s gone and not worry about being teased, or stared at, or someone asking her questions about it&#8230;Oh my God, it&#8217;s going to be so awesome,&#8221; Marie Hughes said. &#8220;I&#8217;m just so relieved for her.&#8221;</p>
    <p>&nbsp;</p>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />